{% extends 'base.html' %}
{% block content %}


<br>
<div class="container">
  <form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
    <div class="mb-3">
      <h4>Title</h4>
      <input type="text" name="title" class="form-control" placeholder="Title" required>
      <div class="invalid-feedback">
        Please provide a valid title.
      </div>
    <div>
    <div class="mb-3">
      <br>
      <h4>Image</h4>
      <input type="file" name="image" class="form-control" required>
      <div class="invalid-feedback">
        Please upload a image file.
      </div>
    </div>
    <div class="mb-3">
      <br>
      <h4>Description</h4>
      <textarea class="form-control" cols=40 rows=10 name="description" placeholder="Required textarea (max length: 500)" required></textarea>
      <div class="invalid-feedback">
        Please write a description.
      </div>
    </div>
    <br>
    <input class="btn btn-dark" type="submit" value="SUBMIT">
  </form>
</div>

<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

{% endblock %}